<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            margin: auto;
            height: 20px;
            padding: 30px;
            background-color: aqua;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 data-th-text="${email}"> Welcome to home page in Smart Contacr Manager</h1>
        <a data-th-href="${githubRepository}"> Click Here for Open </a>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Natus ullam error commodi eos, vitae sequi maiores! 
            Libero fugiat soluta odio adipisci quos aspernatur, 
            amet possimus officiis. 
            Vero voluptatum similique aperiam?
        </p>
    </div>
</body>
</html>